* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url(images/library2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex; 
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    gap: 3rem
}

.container {
  height: 600px;
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.15);
  letter-spacing: 1px;
  max-width: 90%;
  margin-left: 2rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 15px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  background-color: rgba(255, 255, 255, 0.15);
  color: #ddd;
  text-align: center;
}

caption {
  color: white;
  padding: 1rem;
  font-size: 3rem;
  margin-top: 1rem;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 3px;
}

dialog::backdrop {
  background-color: rgba(0,0,0,0.5)
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.question {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

ul {
  list-style: none;
}

input {
  padding: 0.15rem;
}

/* Quitar flechas (spinners) en input type="number" */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.buttons {
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px;
}

td button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.read-button {
  width: 30px
}

table {
  border: none;
}
tr > td:last-child {
  border: none;
  background-color: transparent;
  padding: 0;
  padding-left: 2rem;
}

.icon {
  width: 34px;
}

.icon:hover {
  cursor: pointer;
}
