* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url(images/library2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.container {
  height: 600px;
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.15);
  letter-spacing: 1px;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  background-color: rgba(255, 255, 255, 0.15);
  color: #ddd;
  text-align: center;
}

caption {
  color: white;
  padding: 1rem;
  font-size: 3rem;
}

button {
  padding: 8px;
  margin-bottom: 3rem;
}