/* cinzel-decorative-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cinzel-decorative-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url(images/library2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex; 
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    gap: 3rem
}

.container {
  height: 600px;
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
}

.top {
  flex-direction: column;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
}

p.title {
  font-family: 'Cinzel Decorative';
  color: white;
  padding: 1rem;
  font-size: 3rem;
  margin-top: 1rem;
  align-self: center;
}

.table-wrap {
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.table-wrap::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.8);
}

.table-wrap::-webkit-scrollbar {
  width: 8px;
}

.table-wrap::-webkit-scrollbar-thumb {
  background: #404040;
}

table {
  border-collapse: collapse;
  border: none;
  letter-spacing: 1px;
  margin-left: 2rem;
}

th {
  background-color: rgb(235,235,235);
  position: sticky;
  top: 0;
}

th.bin-col {
  border: none;
  background-color: black
}

th, td {
  border: 1px solid rgb(190,190,190);
  padding: 15px 20px;
}

td {
  background-color: rgba(255, 255, 255, 0.15);
  color: #ddd;
  text-align: center;
}

tr > td:last-child {
  border: none;
  background-color: transparent;
  padding: 0;
  padding-left: 2rem;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 10px;
}

dialog::backdrop {
  background-color: rgba(0,0,0,0.7)
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.form-question {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
  font-family:'Times New Roman', Times, serif;
}

label,
legend {
  font-weight: 599;
  font-size: 1.2rem;
}

legend {
  margin-bottom: 0.2rem;
}

ul {
  list-style: none;
}

fieldset label {
  font-size: 1rem;
  font-weight: 400;
  color: #616262;
}

input {
  font-family:'Times New Roman', Times, serif;
  font-size: 1rem;
  border: 1.5px solid #dcdee1;
  border-radius: 3px;
  padding: 0.2rem;
  color: #616262;
}

input:focus {
  outline: none; 
  border-color: #3b82f6;
}

/* Quitar flechas (spinners) en input type="number" */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

button {
  font-family: 'Times New Roman', Times, serif;
  padding: 0.6rem 1.5rem;
}

.dialog-buttons {
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.dialog-buttons button,
button.newBook{
  background: #374151;
  color: white;
  border: none;
  border-radius: 5px;
}

.dialog-buttons button {
  font-size: 1rem;
}

button.newBook {
  font-size: 1.2rem;
  align-self: center;
  margin-bottom: 2rem; 
  margin-top: 2rem;
}

td button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.read-button {
  width: 30px
}

.bin-icon {
  width: 34px;
}

.bin-icon:hover {
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

.emptyMessage {
  color: #515458;
  font-size: 2rem;
  margin: 5rem;
}